<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FindAHouseEntities" connectionString="metadata=res://*/Models.FindAHouseModel.csdl|res://*/Models.FindAHouseModel.ssdl|res://*/Models.FindAHouseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NITEL-KONDWANI;initial catalog=FindAHouse;user id=sa;password=@1450kondwani;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>